.wrap
  .card
    %img{:src => "images/WalmartLogo.svg"}/
    .instruction.full
      %p Scratch boxes as indicated by colored instructions
    .instruction.left
      %p Scratch only one box in each green cat
    .instruction.right
      %p Scratch anyorange boxes
    .group.column.income.left
      %p.rotate Monthly Household Income
      %ol
        %li $5000+
        %li $4500
        %li $4000
        %li $3500
        %li $3250
        %li $3000
        %li $2750
        %li $2500
        %li $2250
        %li $2000
        %li $1750
        %li $1500
        %li $1250
        %li $1000
        %li $750
        %li $500
        %li $250
        %li $0
    .group.column.rent.left
      %p.rotate Monthly Rent or Mortgage
      %ol
        %li $3000+
        %li $2500
        %li $2250
        %li $2000
        %li $1750
        %li $1500
        %li $1250
        %li $1000
        %li $900
        %li $800
        %li $700
        %li $600
        %li $500
        %li $400
        %li $300
        %li $200
        %li $100
        %li $0
    .group.vitals.right
      %p.rotate Is anyone
      %ol
        %li Over 60
        %li Disabled
        %li Under 18
        %li Pregnant
    .group.bills.right
      %p.rotate Billed for
      %ol
        %li Heat
        %li A/C
        %li Water
        %li Electric
    .group.hh.right
      .sidebar
        %p.rotate Household Members
        %ol
          %li 8 or more
          %li 7 members
          %li 6 members
          %li 5 members
          %li 4 members
          %li 3 members
          %li 2 members
          %li 1 member
    .instruction.full
      %p Scratch boxes as indicated by colored instructions
  .center