---
title: Welcome to Middleman
append_js:
- card.js
---
<div class="wrap">
	<div class="card">
		<img src="images/WalmartLogo.svg">
		<div class="instruction full">
			<p>Scratch boxes as indicated by colored instructions</p>
		</div>
		<div class="instruction left">
			<p>Scratch only one box </br>in each green cat</p>
		</div>
		<div class="instruction right">
			<p>Scratch any</br>orange boxes</p>
		</div>
		<div class="group column income left">
			<p class="rotate">Monthly Household Income</p>
			<ol>
				<li>$5000+</li>
				<li>$4500</li>
				<li>$4000</li>
				<li>$3500</li>
				<li>$3250</li>
				<li>$3000</li>
				<li>$2750</li>
				<li>$2500</li>
				<li>$2250</li>
				<li>$2000</li>
				<li>$1750</li>
				<li>$1500</li>
				<li>$1250</li>
				<li>$1000</li>
				<li>$750</li>
				<li>$500</li>
				<li>$250</li>
				<li>$0</li>
			</ol>
		</div>	
		<div class="group column rent left">
			<p class="rotate">Monthly Rent or Mortgage</p>
			<ol>
				<li>$3000+</li>
				<li>$2500</li>
				<li>$2250</li>
				<li>$2000</li>
				<li>$1750</li>
				<li>$1500</li>
				<li>$1250</li>
				<li>$1000</li>
				<li>$900</li>
				<li>$800</li>
				<li>$700</li>
				<li>$600</li>
				<li>$500</li>
				<li>$400</li>
				<li>$300</li>
				<li>$200</li>
				<li>$100</li>
				<li>$0</li>
			</ol>
		</div>
		<div class="group vitals right">
			<p class="rotate">Is anyone</p>
			<ol>
				<li>Over 60</li>
				<li>Disabled</li>
				<li>Under 18</li>
				<li>Pregnant</li>
			</ol>
		</div>
		<div class="group bills right">
			<p class="rotate">Billed for</p>
			<ol>
				<li>Heat</li>
				<li>A/C</li>
				<li>Water</li>
				<li>Electric</li>
			</ol>
		</div>
		<div class="group hh right">
			<div class="sidebar">
				<p class="rotate">Household Members</p>
				<ol>
					<li>8 or more</li>
					<li>7 members</li>
					<li>6 members</li>
					<li>5 members</li>
					<li>4 members</li>
					<li>3 members</li>
					<li>2 members</li>
					<li>1 member</li>
				</ol>
			</div>
		</div>
		<div class="instruction full">
			<p>Scratch boxes as indicated by colored instructions</p>
		</div>
	</div>
	<div class="center"></div>
</div>