---
title: Scratch!
stylesheet: "scratch"
append_js:
- card.js
---

.wrap#hey
    .front#front
        .inset
            %img.logo{:src => "images/WalmartLogo.svg"}
            .instruction
                %p Scratch for a chance to win up to $20 off your cart
            .left
                .instruction
                    %p Scratch only one box in green categories
                .category.income
                    %p.rotate Monthly Household Income
                    %ol
                        %li.colored $5000+
                        %li.colored $4500
                        %li.colored $4000
                        %li.colored $3500
                        %li.colored $3250
                        %li.colored $3000
                        %li.colored $2750
                        %li.colored $2500
                        %li.colored $2250
                        %li.colored $2000
                        %li.colored $1750
                        %li.colored $1500
                        %li.colored $1250
                        %li.colored $1000
                        %li.colored $750
                        %li.colored $500
                        %li.colored $250
                        %li.colored $0
                .category.rent
                    %p.rotate Monthly Rent or Mortgage
                    %ol
                        %li.colored $3000+
                        %li.colored $2500
                        %li.colored $2250
                        %li.colored $2000
                        %li.colored $1750
                        %li.colored $1500
                        %li.colored $1250
                        %li.colored $1000
                        %li.colored $900
                        %li.colored $800
                        %li.colored $700
                        %li.colored $600
                        %li.colored $500
                        %li.colored $400
                        %li.colored $300
                        %li.colored $200
                        %li.colored $100
                        %li.colored $0
            .right
                .instruction
                    %p Scratch any orange boxes
                .category.vitals
                    %p.rotate Is anyone
                    %ol
                        %li.colored Over 60
                        %li.colored Disabled
                        %li.colored Under 18
                        %li.colored Pregnant
                .category.bills
                    %p.rotate Billed for
                    %ol
                        %li.colored Heat
                        %li.colored A/C
                        %li.colored Water
                        %li.colored Electric
                .category.hh
                    %p.rotate Household Members
                    %ol
                        %li.colored 8 or more
                        %li.colored 7 members
                        %li.colored 6 members
                        %li.colored 5 members
                        %li.colored 4 members
                        %li.colored 3 members
                        %li.colored 2 members
                        %li.colored 1 member
            .instruction
                %p Filler
    .back#back
        .inset
            %p hello
    .info
        %button#calculate calculate
        %button#reset reset
        %button#flip flip